main.main
    .container
        .main__content

            h1.main__title Ты сегодня покормил кота?

            .main__list
                .main__list-item(class='list-item')
                    .list-item__content
                        span.list-item__fairy-text Сказочное заморское яство
                        span.list-item__title Нямушка
                        span.list-item__with с фуа-гра
                        .list-item__data
                            span.list-item__set 10 порций
                            span.list-item__gift мышь в подарок
                            span.list-item__review
                        .list-item__weight
                            span.list-item__weight-value 0,5
                            span.list-item__weight-kg кг
                    img.list-item__img(src='1img/funbox_logo.png' alt='Нямушка')
                    p.list-item__info Чего сидишь? Порадуй котэ, купи.

                .main__list-item(class='list-item')
                    .list-item__content
                        span.list-item__fairy-text Сказочное заморское яство
                        span.list-item__title Нямушка
                        span.list-item__with с рыбой
                        .list-item__data
                            span.list-item__set 40 порций
                            span.list-item__gift 2 мыши в подарок
                            span.list-item__review
                        .list-item__weight
                            span.list-item__weight-value 2
                            span.list-item__weight-kg кг
                    img.list-item__img(src='1img/funbox_logo.png' alt='Нямушка')
                    p.list-item__info Чего сидишь? Порадуй котэ, купи.

                .main__list-item(class='list-item')
                    .list-item__content
                        span.list-item__fairy-text Сказочное заморское яство
                        span.list-item__title Нямушка
                        span.list-item__with с курой
                        .list-item__data
                            span.list-item__set 100 порций
                            span.list-item__gift 5 мышей в подарок
                            span.list-item__review
                        .list-item__weight
                            span.list-item__weight-value 5
                            span.list-item__weight-kg кг
                    img.list-item__img(src='1img/funbox_logo.png' alt='Нямушка')
                    p.list-item__info Чего сидишь? Порадуй котэ, купи.
