@import "mixins";
@import "vars";
@import "null";
@import "fonts";


//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

.main {
	display: flex;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.7)), url(../img/Pattern.jpg);
	background-position: center;

	&__content {
		margin-left: 1px;
	}

	&__title {
		font-size: 36px;
		color: #fff;
		text-align: center;
		margin-right: 38px;
		margin-bottom: 39px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		color: #000;
		font-family: "Trebuchet MS";
	}

	&__item-wrapper {
		position: relative;
	}

}


.list-item {

	&__content {
		width: 320px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
	}

	&__content-header {
		display: flex;
		height: 44px;
	}

	&__corner {
		position: relative;
		width: 44px;
		background: linear-gradient(-45deg,#fff,#fff 28px,#1698d9 0,#1698d9 32px,transparent 0);
	}

	&__title {
		padding-left: 45px;
	}

	&__with	{
		padding-left: 47px;
	}
	
	&__fairy-text {
		display: block;
		padding-top: 19px;
		padding-right: 64px;
		padding-left: 5px;
		color: #666;
		font-size: 16px;
		background-color: #fff;
		border-top: 4px solid #1698d9;
		border-right: 4px solid #1698d9;
		border-top-right-radius: 12px;
	}

	&__content-main {
		position: relative;
		height: 436px;
		background-color: #fff;
		border: 4px solid #1698d9;
		border-top: none;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		overflow: hidden;
		z-index: 1;
	}

	&__title {
		padding-top: 15px;
		font-size: 48px;
		font-weight: bold;
		text-align: left;
	}

	&__with {
		padding-top: 7px;
		font-size: 24px;
		font-weight: bold;
	}

	&__data {
		display: flex;
		flex-direction: column;
		padding-top: 17px;
		padding-left: 47px;
		color: #666;
	}

	&__gift {
		padding-top: 3px;
	}

	&__weight {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		text-align: center;
		bottom: 11px;
		right: 11px;
		width: 81px;
		height: 81px;
		border-radius: 50%;
		background-color: #1698d9;
		z-index: 2;
	}

	&__weight-value {
		font-size: 42px;
	}

	&__weight-kg {
		font-size: 21px;
	}

	&__img {
		position: absolute;
		left: -30px;
		bottom: -97px;
		width: 370px;
		z-index: 0;
	}

	&__info {
		padding-top: 15px;
		text-align: center;
		color: #fff;
	}

	&__buy {
		display: inline-block;
		color: #1698d9;
		border-bottom: 1px dashed #1698d9;
		cursor: pointer;
	}
}
